@font-face {
    font-family: 'Heebo-Regular';
    src:url('../fonts/Heebo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo-Medium';
    src:url('../fonts/Heebo-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spacemono';
    src:url('../fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.mono {
  font-family:"Spacemono"
}
