body {
  font-family: 'Source Sans Pro' , sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

.h0 {
  font-size:48px;
}

@media(min-width:40rem){
    .sm-h0 {font-size:48px;}
  }

@media(min-width:40rem){
      .sm-h1 {font-size:32px;}
    }
@media(min-width:40rem){
      .sm-h2 {font-size:24px;}
    }

.bold {
  font-weight:600;
}

.img-shadow {
  box-shadow:4px 4px 50px rgba(0,0,0,0.1);

}
