body {
  font-family: 'Source Sans Pro' , sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

h0 {
  font-size:48px;
}

.bold {
  font-weight:600;
}

.img-shadow {
  box-shadow:4px 4px 30px rgba(0,0,0,0.3);

}
