/* Styles for Heather - A Hyperminimal Jekyll Theme */

/* BASSCSS Reset - http://jxnblk.github.io/basscss */
@import "fonts.css";

body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}


body {
  color: #333;
  font-size: 100%;
  font-family: 'Heebo-Regular',-apple-system,"Segoe UI",
  Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue", sans-serif;
  /*-webkit-font-smoothing:antialiased;*/
}

h1, h2, h3, h4, h5, h6 { line-height: 1.25; }
h1, .h1 {
  font-size:2rem;
  margin-top:32px;
  font-family: "Heebo-Medium";
  font-weight:normal;
  }
h2,.h2{font-size: 1.5rem;}
h3,.h3{font-size:1.25rem;}
h4,.h4{font-size:1rem;}
h5,.h5{font-size:.875rem;}

p, .p {
  font-size: 1.125rem;
  line-height: 1.5em;
  margin-bottom: 32px;
}

ul, ol {
  font-size: 16px;
  margin-bottom: 2rem;
}

li {
  margin-bottom:1rem;
}


a{ text-decoration: none; }
.link { color:#b134bf;}

.link:hover {
  background:-webkit-linear-gradient(left, #b134bf,#3bb1be,#E1CC90, #FF945C, #EC008C);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 4s linear infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}

}

h1 a { color: #333;}

.wrap {
  width: 75%;
  max-width: 768px;
  margin: 0 auto;
  padding: 32px 5% 64px 5%;
}

.m-0 { margin-top: 0; margin-bottom: 0; }
.mb { margin-bottom: 64px; }

.post { margin-bottom: 96px; }
.post img { max-width: 100%; }

.center { text-align: center; }
.fl { float: left; }
.fr { float: right; }

.gray { color: #999; }
.bg-offwhite {background-color:#f9f9f9;}
.bg-pink {background-color:#FFD4D4}

.btn {
  border-radius: 24px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none; }

.btn-black {
  background-color: black;
  color: white;
}
.btn:hover{
  background-color:#333333;
}

img, .img {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
@media (min-width:40em){
.img-overflow {
  height:30em;
  overflow-y: scroll;
}
}

@media (min-width:40em){
  .sm-pr2{
    padding-right: 1rem;
  }
  .sm-pl2{
    padding-left: 1rem;
  }
}
