
@import "fonts.css";

body {
  font-family:'Heebo-Regular',-apple-system,"Segoe UI","Helvetica Neue",sans-serif;
}




.line-height-3{
  line-height:1.25
}
.line-height-4{
  line-height:1.5
}

.bg-position{
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;}

.bg-offwhite {
  background-color: #f1f1f1;
}

.bg-white {
  background-color: #fff;
}

.height-16m{height:16em;}

.btn {
  border-radius: 24px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none; }

.btn-black {
  background-color: black;
  color: white;
}
.btn:hover{
  background-color:#333333;
}
a {
  text-decoration: none;
  color:inherit;
}

.h0 {
  font-size:48px;
}

@media(min-width:40rem){
    .sm-h0 {font-size:48px;}
  }

@media(min-width:40rem){
      .sm-h1 {font-size:2rem;}
    }

@media(min-width:40rem){
      .sm-h2 {font-size:1.5rem;}
    }

@media(min-width:40rem){
      .sm-h3 {font-size:1.25rem;}
    }
@media(min-width:40rem){
      .sm-h4 {font-size:1rem;}
    }
.bold {
  font-family:'Heebo-Medium';
  font-weight:400;
}

.img-shadow {
  box-shadow:4px 4px 50px rgba(0,0,0,0.1);

}

img {
  max-height: 250px;
  width:auto;
}

.border-silver{border-color: #ddd;}

@media (max-width: 1100px) and (min-width: 0){
  .hide-sm{
    display:none;
  }
}

@media (min-width:52em){
  .md-px3{
    padding-left:2rem;
    padding-right:2rem;}
}

.gray{
  color:#656565;
}

.link {
  color: #b134bf;
}
.link:hover {
  cursor: pointer;
  background:-webkit-linear-gradient(left, #b134bf,#3bb1be,#E1CC90, #FF945C, #EC008C);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 4s linear infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}

}
